@import '../../components/BreakPoint.scss';

.card-option {
    @include tiny-phone-up {
        height: 70vh;
    }
    @include tablet-up {
        height: 45vh;
    }
    img {
        max-height: 350px;
        width: auto;
        transition: transform .4s ease-in-out;
    }
    #Card-Game &:hover {
        img {
            transform:  translate3d(0px, -1vw, 0px)
                        scale(1.03, 1.03);
            border-radius: 17px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        }
    }
}