/*
Author: Samuel Black
https://github.com/Samuel-Black
*/

@import '../../components/BreakPoint.scss';

.hop-arms-character {
    a:hover {
        img {
            animation: hop-hover 1.3s infinite;
            border-radius: 0px;
            box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
        }
    }
}

@keyframes hop-hover {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-6vh); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-1vh); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
