@import '../../components/BreakPoint.scss';

.hop-arms-flex {
    @include tiny-phone-up {
        height: 70vh;
    }
    @include tablet-up {
        height: 45vh;
    }
}
.hop-arms-character {
    a:hover {
        img {
            animation: hop-hover 1.3s infinite;
            animation-direction: alternate;
        }
    }
}

@keyframes hop-hover {
    0%      { transform: translate(0,  0); }
    100%    { transform: translate(0,  -6vh); }
}