.game-background {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-image: url('../../assets/backgrounds/Farm-Level-Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.horizontal-match {
  .target {
    height: 630px;
  }
  img {
    height: 100%;
    width: auto;
  }
}

.vertical-match {
  .target {
    width: 215px;
  }
  img {
    height: auto;
    width: 100%;
  }
}
