.game-background {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-image: url('../../assets/backgrounds/hotspot_Background.png');
  background-size: 104vw 104vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.horizontal-match {
  .swiper-container {
    object-fit: fill;
    height: 50vh; // if the height Isn't set to 50% of the screen it bugs for some reason
  }
  img {
    height: 100%;
    width: auto;
  }
}

.vertical-match {
  .swiper-container {
    object-fit: fill;
    width: 50vw; // if the width Isn't set to 50% of the screen it bugs for some reason
  }
  img {
    height: auto;
    max-width: 100%;
  }
}
