.game-background {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-image: url('../../assets/backgrounds/Farm-Level-Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.square {
  img {
    height: auto;
    width: 100%;
  }
}

.target {
  height: 630px;
  img {
    height: auto;
    width: 100%;
  }
}

.horizontal-match {
  img {
    height: 100%;
    width: auto;
  }
}
