@import '../components/Colours.scss';
@import '../components/BreakPoint.scss';

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  background-image: url('../assets/backgrounds/Space-Level-Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#Home-Title {
  padding-top: 23%;
  h1 {
    @include tiny-phone-up {
      font-size: 5rem;
      -webkit-text-stroke-width: 3px;
    }
    @include phone-up {
      font-size: 6rem;
      -webkit-text-stroke-width: 3px;
    }
    @include tablet-up {
      font-size: 12rem;
      -webkit-text-stroke-width: 4px;
    }
    @include large-tablet-up {
      font-size: 15rem;
      -webkit-text-stroke-width: 6px;
    }
    @include hd-up { 
      font-size: 15rem;
      -webkit-text-stroke-width: 4px;
    }
    -webkit-text-stroke-color: black;
  }
}

#Home-Button {
  padding-top: 10%;
}

.card {
  border-radius: 25px;
  @include phone-up {
    font-size: 1.6em;
  }
  @include tablet-up {
    font-size: 1.8em;
  }
  @include large-tablet-up {
    font-size: 2.5em;
  }
  @include hd-up { 
    font-size: 1.6em;
  }
}

#Create-Player {
  svg {
    color: $secondaryWhite;
  }
  &.card {
    background-color: rgba(white, 0.35);
  }
}

.Player-Container {
  margin-bottom: 50px !important;
  @include tiny-phone-up {
    width: 180px;
  }
  @include phone-up {
    width: 250px;
  }
  @include tablet-up {
    width: 250px;
  }
  @include large-tablet-up {
    width: 300px;
  }
  @include hd-up { 
    width: 250px;
  }
  &.card {
    background-color: rgba(white, 0.75);
  }
  .card-img-top {
    height: 10rem;
  }
  img {
    height: 100%;
    width: auto;
  }
  color: black;
}

.btn-primary {
  background-color: yellow;
  border-color: yellow;

  @include tiny-phone-up {
    padding: 3rem 4rem;
    border-radius: 3rem;
    svg {
      height: 4em;
      width: 4em;
    }
  }
  @include phone-up {
    padding: 4rem 5rem;
    border-radius: 3rem;
    svg {
      height: 5em;
      width: 5em;
    }
  }
  @include tablet-up {
    height: 250px;
    width: 350px;
    border-radius: 3rem;
    svg {
      height: 120px;
      width: 120px;
    }
  }
  @include large-tablet-up {
    height: 250px;
    width: 350px;
    border-radius: 3rem;
    svg {
      height: 120px;
      width: 120px;
    }
  }
  @include hd-up { 
    padding: 4rem 5rem;
    border-radius: 3rem;
    svg {
      height: 6em;
      width: 6em;
    }
  }
  &:hover {
    background-color: yellow;
    border-color: yellow;
  }
}
