@import '../components/Colours.scss';

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/backgrounds/Space-Level-Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
}

#Home-Title {
  padding-top: 23%;
  h1 {
    font-size: 15rem;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
  }
}

#Home-Button {
  padding-top: 10%;
}

.card {
  border-radius: 10%;
  font-size: 1.6em;
}

#Create-Player {
  svg {
    color: $secondaryWhite;
  }
  &.card {
    background-color: rgba(white, 0.35);
  }
}

.Player-Container {
  margin-bottom: 50px !important;
  width: 18rem; 
  &.card {
    background-color: rgba(white, 0.75);
  }
  .card-img-top {
    min-height: 10rem;
    max-height: 10rem;
  }
  img {
    max-width: 6rem;
  }
  color: black;
}

.btn-primary {
  background-color: yellow;
  border-color: yellow;
  padding: 4rem 5rem;
  border-radius: 3rem;
  &:hover {
    background-color: yellow;
    border-color: yellow;
  }
}
