@import '../components/Colours.scss';
@import '../components/BreakPoint.scss';

#Level-Nav-Background-Container {
  width: 100vw;
  height: 100vh;
}

#Level-Navigation-Title {
  @include tiny-phone-up {    
    font-size: 4rem;
    -webkit-text-stroke-width: 2.5px;
  }
  @include phone-up {    
    font-size: 5.5rem;
    -webkit-text-stroke-width: 3.1px;
  }
  @include tablet-up {    
    font-size: 6rem;
    -webkit-text-stroke-width: 3.5px;
  }
  @include large-tablet-up {
    font-size: 8rem;
    -webkit-text-stroke-width: 4.5px;
  }
  @include hd-up {
    font-size: 6rem;
    -webkit-text-stroke-width: 3px;
  }
  -webkit-text-stroke-color: black;
}

#Level-Nav-Background {
  width: 100vw;
  min-height: 100vh;
  background-image: url('../assets/backgrounds/Space-Level-Background.svg');
  background-attachment: fixed;
  background-position: center;
}

#Current-Player {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}

.nav-item {
  width:100%;
}

#Level-Nav {
  max-width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  .level-progress {
    font-weight: bold;
  }
  img {
    max-height:150px
  }
  .orange {
    background: orange;
    fill: orange;
  }
  .green {
    background: green;
    fill: green;
  }
  @include large-tablet-up {
    font-size: 1.7rem;
    img {
      max-height:125px
    }
  }
}

#Level-Navbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 10px;
  height: 40px;
  @include large-tablet-up {
    font-size: 1.4rem;
    height: 50px;
    svg {
      height: 33px;
    }
  }
  @include hd-up {
    font-size: 1.1rem;
    height: 40px;
    svg {
      height: 25px;
    }
  }
}

.Game-Container {
  @include phone-up {    
    min-width: 250px;
  }
  @include tablet-up {    
    width: 300px;
  }
  @include large-tablet-up {
    width: 420px;
  }
  @include hd-up {
    width: 500px;
  }
  position: relative;
  border: 2px solid white;
  background: white;
  height: 250px;
  border-radius: 4%;
  color: black;
  .nav-item-svg {
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    svg {
      fill: inherit;
    }
  }
}
