@import '../components/Colours.scss';

#Level-Nav-Background-Container {
  width: 100vw;
  height: 100vh;
}

#Level-Navigation-Title {
  font-size: 6rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#Level-Nav-Background {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/backgrounds/Space-Level-Background.svg');
  background-attachment: fixed;
  background-position: center;
}

#Current-Player {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}

.nav-item {
  width:100%;
}

#Level-Nav {
  max-width: 80vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  .level-progress {
    font-weight: bold;
  }
  img {
    max-height:150px
  }
  .orange {
    background: orange;
    fill: orange;
  }
  .green {
    background: green;
    fill: green;
  }
}

#Level-Navbar {
  background-color: white;
  border-radius: 5%;
  height: 40px;
}

.Game-Container {
  width: 45%;
  position: relative;
  border: 2px solid white;
  background: white;
  height: 250px;
  border-radius: 4%;
  color: black;
  .nav-item-svg {
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    svg {
      fill: inherit;
    }
  }
}
