/*
Author: Samuel Black
https://github.com/Samuel-Black
*/

//All colours were imported from the JoindUp Design Files/Interface Design Files/JumpStart character set Style guide.pdf

$primaryWhite: #ffffff;
$secondaryWhite: #f4f4e5;

$peach: #f4bf9b;
$salmon: #ed917c;
$carminePink: #e8686b;

$pastelYellow: #fff499;
$orangeYellow: #ffd682; //Honey Bees
$vividTangelo: #f27521;
$cinnabar: #e84730;

$spanishCrimson: #e31c4d;
$frenchWine: #b51c44;
$dogwoodRose: #e2146b;
$amaranthPurple: #a02159;
$pansyPurple: #701c44;

$glaucous: #5977ba;
$middleBlue: #7ccce8;
$bondiBlue: #0093ba;
$skobeloff: #00667f;
$tiffanyBlue: #00adaa;
$darkCyan: #00848e;
$rythmicBlue: #ccdde5;
$rain: #aabac1;
$bracingBlue: #7a8c9b;

$mediumSeaGreen: #49b56d;
$juneBud: #c6db5b;
$yellowGreen: #89bf3f;

$blackCoral: #56636d;
$darkSlateGray: #354f5b;
$oxfordBlue: #0a333f;
$maastrichtBlue: #002338;
