@import "../../components/Colours.scss";

#Base-container {
  background-color: #1b1464;
}
#Login-Content-Container {
  padding-top: 10%;
}
#Login-Content {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
  label {
    font-size: 1.3rem;
  }
  form {
    width: 80%;
  }
  a {
    font-weight: bold;
  }
  input {
    width: 100%;
  }
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
