@import './components/Colours.scss';

html, body {
  overflow-x:hidden;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/backgrounds/Space-Level-Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#Home-Title {
  padding-top: 23%;
  h1 {
    font-size: 15rem;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
  }
}

#Home-Button {
  padding-top: 10%;
}

.btn-primary {
  background-color: yellow;
  border-color: yellow;
  padding: 4rem 5rem;
  border-radius: 3rem;
  &:hover {
    background-color: yellow;
    border-color: yellow;
  }
}
